/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

HTML {
  height: 100%;
  min-height: 100%
}

ul{
  list-style: none;
}

input,
button{
  transition: all 0.3s;
}

nav {
  margin: 0 0 20px 0;
}

// img {
//   width: 100%;
// }

.card-image{
  height: 400px; /* Your height here */
  overflow: hidden;
}

